{% extends 'base.html.twig' %}
{% block content %}


    <div class="slider-area">
        <div class="hero-slider owl-carousel">
            <!--Single Slider Start-->
            <div class="single-slider" style="background-image: url(img/slider/home1-slider1.jpg)">
                <div class="slider-progress"></div>
                <div class="container">
                    <div class="hero-slider-content">
                        <h1>Perfect Plant <br> Sale In LookBook</h1>
                        <div class="slider-border"></div>
                        <p>Captain America: Civil War Christopher Markus and Stephen McFeely see the Hulk as the game over moment. </p>
                        <div class="slider-btn">
                            <a href="#">Shop Collection <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Single Slider End-->
            <!--Single Slider Start-->
            <div class="single-slider" style="background-image: url(img/slider/home1-slider2.jpg)">
                <div class="slider-progress"></div>
                <div class="container">
                    <div class="hero-slider-content">
                        <h1>2018 Plant Trend</h1>
                        <div class="slider-border"></div>
                        <p>Captain America: Civil War Christopher Markus and Stephen McFeely see the Hulk as the game over moment. </p>
                        <div class="slider-btn">
                            <a href="#">Shop Collection <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Single Slider End-->
        </div>
    </div>
    <!--Slider Area End-->
    <!--Feature Area Start-->
    <div class="feature-area mt-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <!--Single Feature Start-->
                    <div class="single-feature mb-35">
                        <div class="feature-icon">
                            <span class="lnr lnr-rocket"></span>
                        </div>
                        <div class="feature-content">
                            <h3>FREE SHIPPING</h3>
                            <p>ALL ORDER OVER $100</p>
                        </div>
                    </div>
                    <!--Single Feature End-->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!--Single Feature Start-->
                    <div class="single-feature mb-35">
                        <div class="feature-icon">
                            <span class="lnr lnr-phone"></span>
                        </div>
                        <div class="feature-content">
                            <h3>24/7 DEDICATED SUPPORT</h3>
                            <p>0123 456 789</p>
                        </div>
                    </div>
                    <!--Single Feature End-->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!--Single Feature Start-->
                    <div class="single-feature mb-35">
                        <div class="feature-icon">
                            <span class="lnr lnr-redo"></span>
                        </div>
                        <div class="feature-content">
                            <h3>MONEY BACK</h3>
                            <p>IF THE ITEM DIDN’T SUIT YOU</p>
                        </div>
                    </div>
                    <!--Single Feature End-->
                </div>
            </div>
        </div>
    </div>
    <!--Feature Area End-->
    <!--Our History Area Start-->
    <div class="our-history-area mt-85">
        <div class="container">
            <div class="row">
                <!--Section Title Start-->
                <div class="col-12">
                    <div class="section-title text-center mb-35">
                        <h2>Our History</h2>
                        <span>A little story about us</span>
                    </div>
                </div>
                <!--Section Title End-->
            </div>
            <div class="row">
                <div class="col-lg-8 ml-auto mr-auto">
                    <div class="history-area-content text-center">
                        <p><strong>Captain America: Civil War Christopher Markus and Stephen McFeely see the Hulk as the game over moment.</strong></p>
                        <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus. Phasellus eu rhoncus dolor, vitae scelerisque sapien</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Our History Area End-->
    <!--Categories Area Start-->
    <div class="categories-area mt-115">
        <div class="container">
            <div class="row">
                <!--Section Title Start-->
                <div class="col-12">
                    <div class="section-title text-center mb-35">
                        <span>The Best collection</span>
                        <h3>Shop By Categories</h3>
                    </div>
                </div>
                <!--Section Title End-->
            </div>
        </div>
        <div class="container-fluid pl-50 pr-50">
            <div class="row">
                <div class="cat-1 col-md-4">
                    <div class="categories-img img-full mb-30">
                        <a href="#"><img src="img/category/home1-category-1.jpg" alt=""></a>
                        <div class="categories-content">
                            <h3>Potted Plant</h3>
                            <h4>18 items</h4>
                        </div>
                    </div>
                </div>
                <div class="cat-2 col-md-8">
                    <div class="row">
                        <div class="cat-3 col-md-7">
                            <div class="categories-img img-full mb-30">
                                <a href="#"><img src="img/category/home1-category-2.jpg" alt=""></a>
                                <div class="categories-content">
                                    <h3>Potted Plant</h3>
                                    <h4>18 items</h4>
                                </div>
                            </div>
                        </div>
                        <div class="cat-4 col-md-5">
                            <div class="categories-img img-full mb-30">
                                <a href="#"><img src="img/category/home1-category-3.jpg" alt=""></a>
                                <div class="categories-content">
                                    <h3>Potted Plant</h3>
                                    <h4>18 items</h4>
                                </div>
                            </div>
                        </div>
                        <div class="cat-5 col-md-4">
                            <div class="categories-img img-full mb-30">
                                <a href="#"><img src="img/category/home1-category-4.jpg" alt=""></a>
                                <div class="categories-content">
                                    <h3>Potted Plant</h3>
                                    <h4>18 items</h4>
                                </div>
                            </div>
                        </div>
                        <div class="cat-6 col-md-8">
                            <div class="categories-img img-full mb-30">
                                <a href="#"><img src="img/category/home1-category-5.jpg" alt=""></a>
                                <div class="categories-content">
                                    <h3>Potted Plant</h3>
                                    <h4>18 items</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Categories Area End-->
    <!--Product Area Start-->
    <div class="product-area mt-85">
        <div class="container">
            <div class="row">
                <!--Section Title Start-->
                <div class="col-12">
                    <div class="section-title text-center mb-35">
                        <span>The Most Trendy</span>
                        <h3>Featured Products</h3>
                    </div>
                </div>
                <!--Section Title End-->
            </div>
            <div class="row">
                <div class="product-slider-active">
                    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                        <!--Single Product Start-->
                        <div class="single-product mb-25">
                            <div class="product-img img-full">
                                <a href="single-product.html">
                                    <img src="img/product/product1.jpg" alt="">
                                </a>
                                <span class="onsale">Sale!</span>
                                <div class="product-action">
                                    <ul>
                                        <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
                                        <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h2><a href="single-product.html">Eleifend quam</a></h2>
                                <div class="product-price">
                                    <div class="price-box">
                                        <span class="regular-price">$115.00</span>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Single Product End-->
                        <!--Single Product Start-->
                        <div class="single-product mb-25">
                            <div class="product-img img-full">
                                <a href="single-product.html">
                                    <img src="img/product/product2.jpg" alt="">
                                </a>
                                <div class="product-action">
                                    <ul>
                                        <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
                                        <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h2><a href="single-product.html">Odio tortor consequat</a></h2>
                                <div class="product-price">
                                    <div class="price-box">
                                        <span class="regular-price">$90.00</span>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Single Product End-->
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                        <!--Single Product Start-->
                        <div class="single-product mb-25">
                            <div class="product-img img-full">
                                <a href="single-product.html">
                                    <img src="img/product/product3.jpg" alt="">
                                </a>
                                <div class="product-action">
                                    <ul>
                                        <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
                                        <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h2><a href="single-product.html">Commodo dolor</a></h2>
                                <div class="product-price">
                                    <div class="price-box">
                                        <span class="regular-price">$80.00</span>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Single Product End-->
                        <!--Single Product Start-->
                        <div class="single-product mb-25">
                            <div class="product-img img-full">
                                <a href="single-product.html">
                                    <img src="img/product/product4.jpg" alt="">
                                </a>
                                <div class="product-action">
                                    <ul>
                                        <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
                                        <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h2><a href="single-product.html">Fusce tempor</a></h2>
                                <div class="product-price">
                                    <div class="price-box">
                                        <span class="regular-price">$55.00</span>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Single Product End-->
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                        <!--Single Product Start-->
                        <div class="single-product mb-25">
                            <div class="product-img img-full">
                                <a href="single-product.html">
                                    <img src="img/product/product5.jpg" alt="">
                                </a>
                                <div class="product-action">
                                    <ul>
                                        <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
                                        <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h2><a href="single-product.html">Integer eget augue</a></h2>
                                <div class="product-price">
                                    <div class="price-box">
                                        <span class="regular-price">$100.00</span>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Single Product End-->
                        <!--Single Product Start-->
                        <div class="single-product mb-25">
                            <div class="product-img img-full">
                                <a href="single-product.html">
                                    <img src="img/product/product6.jpg" alt="">
                                </a>
                                <div class="product-action">
                                    <ul>
                                        <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
                                        <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h2><a href="single-product.html">Egestas dapibus</a></h2>
                                <div class="product-price">
                                    <div class="price-box">
                                        <span class="regular-price">$55.00</span>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Single Product End-->
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                        <!--Single Product Start-->
                        <div class="single-product mb-25">
                            <div class="product-img img-full">
                                <a href="single-product.html">
                                    <img src="img/product/product7.jpg" alt="">
                                </a>
                                <div class="product-action">
                                    <ul>
                                        <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
                                        <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h2><a href="single-product.html">Auctor sem</a></h2>
                                <div class="product-price">
                                    <div class="price-box">
                                        <span class="regular-price">$100.00</span>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Single Product End-->
                        <!--Single Product Start-->
                        <div class="single-product mb-25">
                            <div class="product-img img-full">
                                <a href="single-product.html">
                                    <img src="img/product/product8.jpg" alt="">
                                </a>
                                <div class="product-action">
                                    <ul>
                                        <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
                                        <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h2><a href="single-product.html">Sapien libero</a></h2>
                                <div class="product-price">
                                    <div class="price-box">
                                        <span class="regular-price">$82.00</span>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Single Product End-->
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                        <!--Single Product Start-->
                        <div class="single-product mb-25">
                            <div class="product-img img-full">
                                <a href="single-product.html">
                                    <img src="img/product/product9.jpg" alt="">
                                </a>
                                <div class="product-action">
                                    <ul>
                                        <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
                                        <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h2><a href="single-product.html">Pharetra sagittis</a></h2>
                                <div class="product-price">
                                    <div class="price-box">
                                        <span class="regular-price">$100.00</span>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Single Product End-->
                        <!--Single Product Start-->
                        <div class="single-product mb-25">
                            <div class="product-img img-full">
                                <a href="single-product.html">
                                    <img src="img/product/product10.jpg" alt="">
                                </a>
                                <div class="product-action">
                                    <ul>
                                        <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
                                        <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h2><a href="single-product.html">Turpis et iaculis</a></h2>
                                <div class="product-price">
                                    <div class="price-box">
                                        <span class="regular-price">$65.00</span>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Single Product End-->
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                        <!--Single Product Start-->
                        <div class="single-product mb-25">
                            <div class="product-img img-full">
                                <a href="single-product.html">
                                    <img src="img/product/product11.jpg" alt="">
                                </a>
                                <div class="product-action">
                                    <ul>
                                        <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
                                        <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h2><a href="single-product.html">Sit amet felis</a></h2>
                                <div class="product-price">
                                    <div class="price-box">
                                        <span class="regular-price">$90.00</span>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Single Product End-->
                        <!--Single Product Start-->
                        <div class="single-product mb-25">
                            <div class="product-img img-full">
                                <a href="single-product.html">
                                    <img src="img/product/product12.jpg" alt="">
                                </a>
                                <div class="product-action">
                                    <ul>
                                        <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
                                        <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h2><a href="single-product.html">Lacus dignissim</a></h2>
                                <div class="product-price">
                                    <div class="price-box">
                                        <span class="regular-price">$80.00</span>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Single Product End-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Product Area End-->
    <!--Product Countdown Area Start-->
    <div class="product-countdown-area mt-105 ml-50 mr-50">
        <div class="container">
            <div class="row">
                <!--Section Title Start-->
                <div class="col-12">
                    <div class="section-title text-center mb-30">
                        <h3>Deal of The Day</h3>
                    </div>
                </div>
                <!--Section Title End-->
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-10 col-12 ml-auto mr-auto mb-20">
                    <!--Count Down Area Start-->
                    <div class="count-down-area">
                        <!--Count Down Start-->
                        <div class="countdown-inner">
                            <div class="count-box">
                                <div class="pro-countdown" data-countdown="2033/10/01"></div>
                            </div>
                        </div>
                        <!--Count Down End-->
                        <!--Count Down Start-->
                        <div class="countdown-inner">
                            <div class="count-box">
                                <div class="pro-countdown" data-countdown="2033/10/01"></div>
                            </div>
                        </div>
                        <!--Count Down End-->
                        <!--Count Down Start-->
                        <div class="countdown-inner">
                            <div class="count-box">
                                <div class="pro-countdown" data-countdown="2033/10/01"></div>
                            </div>
                        </div>
                        <!--Count Down End-->
                        <!--Count Down Start-->
                        <div class="countdown-inner">
                            <div class="count-box">
                                <div class="pro-countdown" data-countdown="2033/10/01"></div>
                            </div>
                        </div>
                        <!--Count Down End-->
                        <!--Count Down Start-->
                        <div class="countdown-inner">
                            <div class="count-box">
                                <div class="pro-countdown" data-countdown="2033/10/01"></div>
                            </div>
                        </div>
                        <!--Count Down End-->
                    </div>
                    <!--Count Down Area End-->
                </div>
            </div>
            <div class="row">
                <div class="offer-slider">
                    <div class="col-md-4">
                        <!--Single Product Start-->
                        <div class="single-product mb-25">
                            <div class="product-img img-full">
                                <a href="single-product.html">
                                    <img src="img/product/product12.jpg" alt="">
                                </a>
                                <span class="onsale">Sale!</span>
                                <div class="product-action">
                                    <ul>
                                        <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
                                        <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h2><a href="single-product.html">Sed sollicitudin</a></h2>
                                <div class="product-price">
                                    <div class="price-box">
                                        <span class="regular-price">$40.00</span>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Single Product End-->
                    </div>
                    <div class="col-md-4">
                        <!--Single Product Start-->
                        <div class="single-product mb-25">
                            <div class="product-img img-full">
                                <a href="single-product.html">
                                    <img src="img/product/product11.jpg" alt="">
                                </a>
                                <span class="onsale">Sale!</span>
                                <div class="product-action">
                                    <ul>
                                        <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
                                        <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h2><a href="single-product.html">Diam vel neque</a></h2>
                                <div class="product-price">
                                    <div class="price-box">
                                        <span class="regular-price">$40.00</span>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Single Product End-->
                    </div>
                    <div class="col-md-4">
                        <!--Single Product Start-->
                        <div class="single-product mb-25">
                            <div class="product-img img-full">
                                <a href="single-product.html">
                                    <img src="img/product/product10.jpg" alt="">
                                </a>
                                <span class="onsale">Sale!</span>
                                <div class="product-action">
                                    <ul>
                                        <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
                                        <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h2><a href="single-product.html">Aliquet auctor sem</a></h2>
                                <div class="product-price">
                                    <div class="price-box">
                                        <span class="regular-price">$50.00</span>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Single Product End-->
                    </div>
                    <div class="col-md-4">
                        <!--Single Product Start-->
                        <div class="single-product mb-25">
                            <div class="product-img img-full">
                                <a href="single-product.html">
                                    <img src="img/product/product9.jpg" alt="">
                                </a>
                                <span class="onsale">Sale!</span>
                                <div class="product-action">
                                    <ul>
                                        <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
                                        <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h2><a href="single-product.html">Turpis et iaculis</a></h2>
                                <div class="product-price">
                                    <div class="price-box">
                                        <span class="regular-price">$65.00</span>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Single Product End-->
                    </div>
                    <div class="col-md-4">
                        <!--Single Product Start-->
                        <div class="single-product mb-25">
                            <div class="product-img img-full">
                                <a href="single-product.html">
                                    <img src="img/product/product13.jpg" alt="">
                                </a>
                                <span class="onsale">Sale!</span>
                                <div class="product-action">
                                    <ul>
                                        <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
                                        <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h2><a href="single-product.html">Sociis natoque</a></h2>
                                <div class="product-price">
                                    <div class="price-box">
                                        <span class="regular-price">$40.00</span>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Single Product End-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Product Countdown Area End-->
    <!--Banner Area Start-->
    <div class="banner-area pt-105">
        <div class="container-fluid pl-50 pr-50">
            <div class="row">
                <div class="col-md-4">
                    <!--Single Banner Area Start-->
                    <div class="single-banner mb-35">
                        <div class="banner-img">
                            <a href="#">
                                <img src="img/banner/banner1.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <!--Single Banner Area End-->
                </div>
                <div class="col-md-4">
                    <!--Single Banner Area Start-->
                    <div class="single-banner mb-35">
                        <div class="banner-img">
                            <a href="#">
                                <img src="img/banner/banner2.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <!--Single Banner Area End-->
                </div>
                <div class="col-md-4">
                    <!--Single Banner Area Start-->
                    <div class="single-banner mb-35">
                        <div class="banner-img">
                            <a href="#">
                                <img src="img/banner/banner3.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <!--Single Banner Area End-->
                </div>
            </div>
        </div>
    </div>
    <!--Banner Area End-->
    <!--Testimonial Area Start-->
    <div class="testimonial-area mt-75">
        <div class="container">
            <div class="row">
                <!--Section Title Start-->
                <div class="col-12">
                    <div class="section-title text-center mb-35">
                        <span>We love our clients</span>
                        <h3>What They’re Saying</h3>
                    </div>
                </div>
                <!--Section Title End-->
            </div>
            <div class="row testimonial-active owl-carousel">
                <div class="col-12">
                    <!--Single Testimonial Start-->
                    <div class="single-testimonial text-center">
                        <div class="testimonial-img">
                            <img src="img/testimonial/testimonial3.jpg" alt="">
                        </div>
                        <div class="testimonial-content">
                            <p>These guys have been absolutely outstanding. Perfect Themes and the best of all that you have many options to choose! Best Support team ever! Very fast responding! Thank you very much! I highly recommend this theme and these people!</p>
                            <div class="testimonial-author">
                                <h6>Katherine Sullivan <span>Customer</span></h6>
                            </div>
                        </div>
                    </div>
                    <!--Single Testimonial End-->
                </div>
                <div class="col-12">
                    <!--Single Testimonial Start-->
                    <div class="single-testimonial text-center">
                        <div class="testimonial-img">
                            <img src="img/testimonial/testimonial2.jpg" alt="">
                        </div>
                        <div class="testimonial-content">
                            <p>These guys have been absolutely outstanding. Perfect Themes and the best of all that you have many options to choose! Best Support team ever! Very fast responding! Thank you very much! I highly recommend this theme and these people!</p>
                            <div class="testimonial-author">
                                <h6>Md Shohel <span>Customer</span></h6>
                            </div>
                        </div>
                    </div>
                    <!--Single Testimonial End-->
                </div>
                <div class="col-12">
                    <!--Single Testimonial Start-->
                    <div class="single-testimonial text-center">
                        <div class="testimonial-img">
                            <img src="img/testimonial/testimonial1.jpg" alt="">
                        </div>
                        <div class="testimonial-content">
                            <p>These guys have been absolutely outstanding. Perfect Themes and the best of all that you have many options to choose! Best Support team ever! Very fast responding! Thank you very much! I highly recommend this theme and these people!</p>
                            <div class="testimonial-author">
                                <h6>Katherine Sullivan <span>Customer</span></h6>
                            </div>
                        </div>
                    </div>
                    <!--Single Testimonial End-->
                </div>
            </div>
        </div>
    </div>
    <!--Testimonial Area End-->
    <!--Brand Area Start-->
    <div class="brand-area mt-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="brand-active">
                        <!--Single Brand Start-->
                        <div class="single-brand img-full">
                            <a href="#"><img src="img/brand/brand1.png" alt=""></a>
                        </div>
                        <!--Single Brand End-->
                        <!--Single Brand Start-->
                        <div class="single-brand img-full">
                            <a href="#"><img src="img/brand/brand2.png" alt=""></a>
                        </div>
                        <!--Single Brand End-->
                        <!--Single Brand Start-->
                        <div class="single-brand img-full">
                            <a href="#"><img src="img/brand/brand3.png" alt=""></a>
                        </div>
                        <!--Single Brand End-->
                        <!--Single Brand Start-->
                        <div class="single-brand img-full">
                            <a href="#"><img src="img/brand/brand4.png" alt=""></a>
                        </div>
                        <!--Single Brand End-->
                        <!--Single Brand Start-->
                        <div class="single-brand img-full">
                            <a href="#"><img src="img/brand/brand5.png" alt=""></a>
                        </div>
                        <!--Single Brand End-->
                        <!--Single Brand Start-->
                        <div class="single-brand img-full">
                            <a href="#"><img src="img/brand/brand3.png" alt=""></a>
                        </div>
                        <!--Single Brand End-->
                        <!--Single Brand Start-->
                        <div class="single-brand img-full">
                            <a href="#"><img src="img/brand/brand4.png" alt=""></a>
                        </div>
                        <!--Single Brand End-->
                        <!--Single Brand Start-->
                        <div class="single-brand img-full">
                            <a href="#"><img src="img/brand/brand5.png" alt=""></a>
                        </div>
                        <!--Single Brand End-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Brand Area End-->
    <!--Blog Area Start-->
    <div class="blog-area ml-50 mr-50 mt-105">
        <div class="container">
            <div class="row">
                <!--Section Title Start-->
                <div class="col-12">
                    <div class="section-title text-center mb-35">
                        <span>From The Blogs</span>
                        <h3>Our Latest Posts</h3>
                    </div>
                </div>
                <!--Section Title End-->
            </div>
            <div class="row">
                <div class="blog-slider-active">
                    <div class="col-md-4">
                        <!--Single Blog Start-->
                        <div class="single-blog">
                            <div class="blog-img img-full">
                                <a href="single-blog.html">
                                    <img src="img/blog/blog1.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-content">
                                <div class="post-date">01/12/2018</div>
                                <h3 class="post-title"><a href="single-blog.html">Blog image post</a></h3>
                                <p class="post-description">Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero</p>
                                <p class="post-author">
                                    <img src="img/icon/author.png" alt=""> <span>Posted by </span>
                                    <a href="#">admin </a>
                                </p>
                            </div>
                        </div>
                        <!--Single Blog End-->
                    </div>
                    <div class="col-md-4">
                        <!--Single Blog Start-->
                        <div class="single-blog">
                            <div class="blog-img img-full">
                                <a href="single-blog.html">
                                    <img src="img/blog/blog2.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-content">
                                <div class="post-date">01/12/2018</div>
                                <h3 class="post-title"><a href="single-blog.html">Post with Gallery</a></h3>
                                <p class="post-description">Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero</p>
                                <p class="post-author">
                                    <img src="img/icon/author.png" alt=""> <span>Posted by </span>
                                    <a href="#">admin </a>
                                </p>
                            </div>
                        </div>
                        <!--Single Blog End-->
                    </div>
                    <div class="col-md-4">
                        <!--Single Blog Start-->
                        <div class="single-blog">
                            <div class="blog-img img-full">
                                <a href="single-blog.html">
                                    <img src="img/blog/blog3.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-content">
                                <div class="post-date">01/12/2018</div>
                                <h3 class="post-title"><a href="single-blog.html">Post with Audio</a></h3>
                                <p class="post-description">Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero</p>
                                <p class="post-author">
                                    <img src="img/icon/author.png" alt=""> <span>Posted by </span>
                                    <a href="#">admin </a>
                                </p>
                            </div>
                        </div>
                        <!--Single Blog End-->
                    </div>
                    <div class="col-md-4">
                        <!--Single Blog Start-->
                        <div class="single-blog">
                            <div class="blog-img img-full">
                                <a href="single-blog.html">
                                    <img src="img/blog/blog4.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-content">
                                <div class="post-date">01/12/2018</div>
                                <h3 class="post-title"><a href="single-blog.html">Post with Video</a></h3>
                                <p class="post-description">Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero</p>
                                <p class="post-author">
                                    <img src="img/icon/author.png" alt=""> <span>Posted by </span>
                                    <a href="#">admin </a>
                                </p>
                            </div>
                        </div>
                        <!--Single Blog End-->
                    </div>
                    <div class="col-md-4">
                        <!--Single Blog Start-->
                        <div class="single-blog">
                            <div class="blog-img img-full">
                                <a href="single-blog.html">
                                    <img src="img/blog/blog5.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-content">
                                <div class="post-date">01/12/2018</div>
                                <h3 class="post-title"><a href="single-blog.html">Maecenas ultricies</a></h3>
                                <p class="post-description">Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero</p>
                                <p class="post-author">
                                    <img src="img/icon/author.png" alt=""> <span>Posted by </span>
                                    <a href="#">admin </a>
                                </p>
                            </div>
                        </div>
                        <!--Single Blog End-->
                    </div>
                    <div class="col-md-4">
                        <!--Single Blog Start-->
                        <div class="single-blog">
                            <div class="blog-img img-full">
                                <a href="single-blog.html">
                                    <img src="img/blog/blog1.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-content">
                                <div class="post-date">01/12/2018</div>
                                <h3 class="post-title"><a href="single-blog.html">Blog image post</a></h3>
                                <p class="post-description">Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero</p>
                                <p class="post-author">
                                    <img src="img/icon/author.png" alt=""> <span>Posted by </span>
                                    <a href="#">admin </a>
                                </p>
                            </div>
                        </div>
                        <!--Single Blog End-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Blog Area End-->
    <!--News Letter Area Start-->
    <div class="news-letter-area mt-120 mb-120">
        <div class="container">
            <div class="row">
                <!--Section Title Start-->
                <div class="col-12">
                    <div class="section-title text-center mb-35">
                        <h3>Send Newsletter</h3>
                    </div>
                </div>
                <!--Section Title End-->
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="news-latter-box">
                        <p>Enter Your Email Address For Our Mailing List To Keep Your Self Update</p>
                        <div class="news-letter-form text-center">
                            <form action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="popup-subscribe-form validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                                    <div id="mc-form" class="mc-form subscribe-form" >
                                        <input id="mc-email" type="email" autocomplete="off" placeholder="Enter your email here" />
                                        <button id="mc-submit">Subscribe <i class="fa fa-chevron-right"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}