{% trans_default_domain 'FOSUserBundle' %}


<br>

<div class="row" >
    <div class="col-md-4" >

    </div>
    <div class="col-md-4" style="" >


      <center>  <img src="{{ asset('if_sign-up_49622.png') }}"></center>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}



    <div align="center">
 <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-xs btn-primary" />
    </div>


{{ form_end(form) }}

        <br>



    </div>
    <div class="col-md-4" >
    </div>




</div>