{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div xmlns="http://www.w3.org/1999/html">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
<br>
<img src="{{ asset('if_Login_73221.png') }}">
    <br>
<br>
    <b>  <label for="username">{{ 'security.login.username'|trans }}</label></b>

    <input type="text" style="width: 18%" style="text-align:center;"  id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" class="form-control" />



    <b><label for="password">{{ 'security.login.password'|trans }}</label></b>
    <input type="password"  style="width: 18%" style="text-align:center;" id="password" name="_password" required="required" autocomplete="current-password" class="form-control" />

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />

    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

<br>
   &nbsp &nbsp &nbsp  <a href="{{ path('fos_user_resetting_request') }}">Forgot password ?</a>
    <br>

</br>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-xs btn-primary" />
    <br>
    <br>
</form>
