{% trans_default_domain 'FOSUserBundle' %}
<br>
<div class="fos_user_user_show" align="center">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>
